* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background: rgb(228, 80, 225);
//   background: linear-gradient(
//     0deg,
//     rgba(228, 80, 225, 1) 12%,
//     rgba(43, 5, 54, 1) 85%
//   );
// }

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

@import "./song";
@import "./player";
